<div class="parallax mb-5" id="p1">
    <div class="page-info text-center">
        <img src="/assets/images/pizza.png" class="mt-5 image-fluid" alt="pizza steve">
        <!-- <p class="mt-5">Matthias
            <span>Van De Velde</span>
        </p> -->
        <!-- <div class="info-buttons">
            <a href="projects.html" class="btn btn-warning" role="button" aria-pressed="false">Projects</a>
            <a href="contact.html" class="btn btn-warning" role="button" aria-pressed="false">Contact</a>
        </div> -->
    </div>
</div>