@charset "UTF-8";

// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #0085a1 !default;
$cyan: #17a2b8 !default;

$primary: $teal !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$hamburger-padding-x: 15px !default;
$hamburger-padding-y: 15px !default;
$hamburger-layer-width: 40px !default;
$hamburger-layer-height: 4px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-layer-color: #000 !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-hover-transition-duration: 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;

$hamburger-types: (spring) !default;

.hamburger {
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: inline-block;
  cursor: pointer;

  -webkit-transition-property: opacity, -webkit-filter;

  transition-property: opacity, -webkit-filter;

  transition-property: opacity, filter;

  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: $hamburger-hover-transition-duration;
  transition-duration: $hamburger-hover-transition-duration;
  -webkit-transition-timing-function: $hamburger-hover-transition-timing-function;
  transition-timing-function: $hamburger-hover-transition-timing-function;

  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    @if $hamburger-hover-use-filter == true {
      -webkit-filter: $hamburger-hover-filter;
      filter: $hamburger-hover-filter;
    } @else {
      opacity: $hamburger-hover-opacity;
    }
  }
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    border-radius: $hamburger-layer-border-radius;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}

.hamburger--spring {
  .hamburger-inner {
    top: $hamburger-layer-height / 2;
    -webkit-transition: background-color 0s 0.13s linear;
    transition: background-color 0s 0.13s linear;

    &::before {
      top: $hamburger-layer-height + $hamburger-layer-spacing;
      -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    &::after {
      top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
      -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger-inner {
      -webkit-transition-delay: 0.22s;
      transition-delay: 0.22s;
      background-color: transparent;

      &::before {
        top: 0;
        -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1),
          -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, $hamburger-layer-spacing + $hamburger-layer-height, 0) rotate(45deg);
        transform: translate3d(0, $hamburger-layer-spacing + $hamburger-layer-height, 0) rotate(45deg);
      }

      &::after {
        top: 0;
        -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1),
          -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, $hamburger-layer-spacing + $hamburger-layer-height, 0) rotate(-45deg);
        transform: translate3d(0, $hamburger-layer-spacing + $hamburger-layer-height, 0) rotate(-45deg);
      }
    }
  }
}

body {
  pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }
  header {
    .navbar {
      -webkit-box-shadow: 2px 5px 2px -2px black;
      box-shadow: 2px 5px 2px -2px black;
      background-color: rgba(0, 0, 0, 0.44);
      box-shadow: 0px 10px 75px 3px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: 0px 10px 37px 3px rgba(0, 0, 0, 0.44);
      -moz-box-shadow: 0px 10px 37px 3px rgba(0, 0, 0, 0.44);
      min-height: 80px;
      //transition: min-height 1.5s, background-color 1.3s;
    }
  }

  main {
    .parallax {
      min-height: 500px;
      background: transparent;
      .page-info {
        padding-top: 100px;

        color: #fdc54b;
        font-weight: bold;
        min-height: 500px;
        font-size: 1.5rem;
        img {
          max-width: 200px;
        }
      }
    }

    //background-color: hsla(42, 36%, 79%, 0.678);
    section {
      article {
        #discTestPie,
        #enneagramTestPie {
          // min-height: 150px;
          // max-width: 300px;
          max-height: 300px;
          width: 100%;
          margin-top: 30px;
        }
        #mbtiTestEnergyBar,
        #mbtiTestAttentionBar,
        #mbtiTestDecisionBar,
        #mbtiTestLivingBar {
          max-height: 200px;
          //width: 50%;
          margin-top: 30px;
        }
        h1,
        h3,
        h4 a {
          color: #812121;
        }
        .parallax {
          min-height: 500px;
          background: transparent;
        }
        .cd-timeline {
          overflow: hidden;
          margin: 2em auto;
        }

        .cd-timeline__container {
          position: relative;
          width: 90%;
          max-width: 1170px;
          margin: 0 auto;
          padding: 2em 0;
          &::before {
            /* this is the vertical line */
            content: "";
            position: absolute;
            top: 0;
            left: 18px;
            height: 100%;
            width: 4px;
            background: #d7e4ed;
          }
        }

        @media only screen and (min-width: 1170px) {
          .cd-timeline {
            margin-top: 3em;
            margin-bottom: 3em;
          }
          .cd-timeline__container::before {
            left: 50%;
            margin-left: -2px;
          }
        }

        .cd-timeline__block {
          position: relative;
          margin: 2em 0;
          &:after {
            /* clearfix */
            content: "";
            display: table;
            clear: both;
          }
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }

        @media only screen and (min-width: 1170px) {
          .cd-timeline__block {
            margin: 4em 0;
          }
        }

        .cd-timeline__img {
          position: absolute;
          top: 0;
          left: 0;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          .icon {
            display: block;
            width: 24px;
            height: 24px;
            position: relative;
            left: 50%;
            top: 50%;
            margin-left: -19px;
            margin-top: -13px;
          }
          &.cd-timeline__img--picture {
            background: #75ce66;
          }
          &.cd-timeline__img--movie {
            background: #c03b44;
          }
          &.cd-timeline__img--location {
            background: #f0ca45;
          }
        }

        @media only screen and (min-width: 1170px) {
          .cd-timeline__img {
            width: 60px;
            height: 60px;
            left: 50%;
            margin-left: -30px;
            /* Force Hardware Acceleration */
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            &.cd-timeline__img--bounce-in {
              visibility: visible;
              -webkit-animation: cd-bounce-1 0.6s;
              animation: cd-bounce-1 0.6s;
            }
          }
        }

        @-webkit-keyframes cd-bounce-1 {
          0% {
            opacity: 0;
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
          }

          60% {
            opacity: 1;
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
          }

          100% {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }

        @keyframes cd-bounce-1 {
          0% {
            opacity: 0;
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
          }

          60% {
            opacity: 1;
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
          }

          100% {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }

        .cd-timeline__content {
          position: relative;
          margin-left: 60px;
          background: white;
          border-radius: 0.25em;
          padding: 1em;
          -webkit-box-shadow: 0 3px 0 #d7e4ed;
          box-shadow: 0 3px 0 #d7e4ed;
          &:after {
            /* clearfix */
            content: "";
            display: table;
            clear: both;
          }
          &::before {
            /* triangle next to content block */
            content: "";
            position: absolute;
            top: 16px;
            right: 100%;
            height: 0;
            width: 0;
            border: 7px solid transparent;
            border-right: 7px solid white;
          }
          h2 {
            color: #303e49;
          }
          p {
            font-size: 1.3rem;
          }
        }

        .cd-timeline__read-more,
        .cd-timeline__date {
          font-size: 1.3rem;
        }

        .cd-timeline__content p {
          margin: 1em 0;
          line-height: 1.6;
        }

        .cd-timeline__read-more,
        .cd-timeline__date {
          display: inline-block;
        }

        .cd-timeline__read-more {
          float: left;
          padding: 0.8em 1em;
          background: #acb7c0;
          color: white;
          border-radius: 0.25em;
          &:hover {
            background-color: #bac4cb;
          }
        }

        .cd-timeline__date {
          float: right;
          padding: 0.8em 0;
          opacity: 0.7;
        }

        @media only screen and (min-width: 768px) {
          .cd-timeline__content {
            h2 {
              font-size: 2rem;
            }
            p {
              font-size: 1.6rem;
            }
          }
          .cd-timeline__read-more,
          .cd-timeline__date {
            font-size: 1.4rem;
          }
        }

        @media only screen and (min-width: 1170px) {
          .cd-timeline__content {
            margin-left: 0;
            padding: 1.6em;
            width: 45%;
            /* Force Hardware Acceleration */
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            &::before {
              top: 24px;
              left: 100%;
              border-color: transparent;
              border-left-color: white;
            }
          }
          .cd-timeline__read-more {
            float: left;
          }
          .cd-timeline__date {
            position: absolute;
            width: 100%;
            left: 122%;
            top: 6px;
            bottom: 0;
            font-size: 1.6rem;
          }
          .cd-timeline__block:nth-child(even) {
            .cd-timeline__content {
              float: right;
              &::before {
                top: 24px;
                left: auto;
                right: 100%;
                border-color: transparent;
                border-right-color: white;
              }
            }
            .cd-timeline__read-more {
              float: right;
            }
            .cd-timeline__date {
              left: auto;
              right: 122%;
              text-align: right;
            }
          }
          .cd-timeline__content.cd-timeline__content--bounce-in {
            visibility: visible;
            -webkit-animation: cd-bounce-2 0.6s;
            animation: cd-bounce-2 0.6s;
          }
        }

        @media only screen and (min-width: 1170px) {
          /* inverse bounce effect on even content blocks */
          .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
            -webkit-animation: cd-bounce-2-inverse 0.6s;
            animation: cd-bounce-2-inverse 0.6s;
          }
        }

        @-webkit-keyframes cd-bounce-2 {
          0% {
            opacity: 0;
            -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
          }

          60% {
            opacity: 1;
            -webkit-transform: translateX(20px);
            transform: translateX(20px);
          }

          100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
        }

        @keyframes cd-bounce-2 {
          0% {
            opacity: 0;
            -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
          }

          60% {
            opacity: 1;
            -webkit-transform: translateX(20px);
            transform: translateX(20px);
          }

          100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
        }

        @-webkit-keyframes cd-bounce-2-inverse {
          0% {
            opacity: 0;
            -webkit-transform: translateX(100px);
            transform: translateX(100px);
          }

          60% {
            opacity: 1;
            -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
          }

          100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
        }

        @keyframes cd-bounce-2-inverse {
          0% {
            opacity: 0;
            -webkit-transform: translateX(100px);
            transform: translateX(100px);
          }

          60% {
            opacity: 1;
            -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
          }

          100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
        }
        .post-preview {
          > a {
            color: $gray-900;
            &:focus,
            &:hover {
              text-decoration: none;
              color: $primary;
            }
            > .post-title {
              font-size: 30px;
              margin-top: 30px;
              margin-bottom: 10px;
            }
            > .post-subtitle {
              font-weight: 300;
              margin: 0 0 10px;
            }
          }
          > .post-meta {
            font-size: 18px;
            font-style: italic;
            margin-top: 0;
            color: $gray-600;
            > a {
              text-decoration: none;
              color: $gray-900;
              &:focus,
              &:hover {
                text-decoration: underline;
                color: $primary;
              }
            }
          }
          @media only screen and (min-width: 768px) {
            > a {
              > .post-title {
                font-size: 36px;
              }
            }
          }
        }
      }
      .featurette-divider {
        margin: 50px 100px 50px 100px;
        background-color: hsla(202, 67%, 12%, 0.205);
      }
    }
  }

  footer {
    background-color: #0a2433;
    a,
    i {
      margin: 0px 7px;
      color: #eac67a;
    }
  }
}
