---
layout: default
title: Home
lang: nl
i18n-link: home
---

<section>
  <article class="container pt-5">
    <h1>Recente artikels</h1>

    <!-- Home Post List -->
    {% for post in site.posts limit : 5 %}
    {% if page.lang == post.lang %}

    <article class="post-preview">
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h2 class="post-title">{{ post.title }}</h2>
      </a>
      <p class="post-meta">Gepost op {{ post.date | date: '%B %d, %Y' }}</p>
    </article>

    <hr>
    {% endif %}
    {% endfor %}

    <!-- Pager -->
    <div class="clearfix mt-5">
      <a class="btn btn-primary float-right" href="{{'/posts' | relative_url }}">Bekijk Alle Posts &rarr;</a>
    </div>

  </article>
</section>